<div>
  <div class="flex justify-between items-center">
    <h3 class="mb-2 text-sm">Recent Transactions</h3>
    <a *ngIf="transactions.length > 0" href="#" class="text-xs text-brand-blue-lighter font-semibold lg:hidden">See All</a>
  </div>
  <app-transaction-empty-state
    *ngIf="transactions.length == 0"
  ></app-transaction-empty-state>
</div>
<table class="table-auto bg-transactiion md:bg-white px-4 transactions-table w-full">
  <tbody>
    <tr *ngFor="let transaction of transactions">
      <td>
        <div
          class="flex w-10 h-10 justify-center  items-center bg-brand-blue-lightest text-brand-blue-lighter rounded-full"
        >
          <span [innerHTML]="transaction.icon">
          </span>
        </div>
      </td>
      <td>
        <div class="text-base capitalize">{{ transaction?.name }}</div>
        <div class="font-semibold ">
          <span class="uppercase tracking-wide mr-1">{{ transaction?.currency }}</span
          >{{ transaction?.amount }}
        </div>
      </td>
      <td class="text-sm hidden md:table-cell">
        {{ transaction?.type }}
      </td>
      <td class="text-sm" [innerHtml]="renderStatus(transaction?.status)">
      </td>
      <td class="text-sm" align="right">{{ transaction?.date }}</td>
    </tr>
  </tbody>
</table>
