<div>
  <div class="w-64 min-h-screen flex-col flex justify-between bg-gray-200 h-100 hidden md:flex flex-col">
    <div class="">
      <div class="logo p-4 pb-12">
        <img src="../../../../assets/images/logo-light.png" alt="" />
      </div>
      <div>
        <div *ngFor="let menuHeading of objectKeys(menu)">
          <h4 class="text-xs uppercase tracking-wider block py-4 px-4">
            {{ menuHeading }}
          </h4>
          <ul class="sidebar-menu">
            <li *ngFor="let menuItem of menu[menuHeading]" class="w-full hover:bg-gray-100 hover:text-brand-blue-lighter text-slate-700  menu-item border-b"
              [class.active]="menuItem.isActive" [class.border-gray-300]="!menuItem.isActive">
              <a href="#" class="">
                <span [innerHTML]="menuItem.icon">
      
                </span>
                <span>{{ menuItem.label }}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex px-3 bg-gray-300 space-x-4 py-4 items-center">
      <div class="w-12 h-12 flex justify-center rounded-full bg-brand-blue text-white items-center font-semibold uppercase"><span>KJ</span></div>
      <span>Kizito John</span>
    </div>
  </div>
  <div
    class="fixed md:hidden p-4 z-50 mobile-menu bottom-0 w-full left-0 border border-top bg-white right-0"
  >
    <div class="w-full flex justify-between bg-white">
      <div class="flex menu-item active flex-col items-center space-y-2">
        <span
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"
            /></svg
        ></span>
        <span class="text-sm">Home</span>
      </div>
      <div class="flex menu-item flex-col items-center space-y-2">
        <span
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              d="M8 5a1 1 0 100 2h5.586l-1.293 1.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L13.586 5H8zM12 15a1 1 0 100-2H6.414l1.293-1.293a1 1 0 10-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L6.414 15H12z"
            /></svg
        ></span>
        <span class="text-sm">Transfers</span>
      </div>
      <div class="flex menu-item flex-col items-center space-y-2">
        <span
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              d="M2 11a1 1 0 011-1h2a1 1 0 011 1v5a1 1 0 01-1 1H3a1 1 0 01-1-1v-5zM8 7a1 1 0 011-1h2a1 1 0 011 1v9a1 1 0 01-1 1H9a1 1 0 01-1-1V7zM14 4a1 1 0 011-1h2a1 1 0 011 1v12a1 1 0 01-1 1h-2a1 1 0 01-1-1V4z"
            /></svg
        ></span>
        <span class="text-sm">History</span>
      </div>
      <div class="flex menu-item flex-col items-center space-y-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z"
            clip-rule="evenodd"
          />
        </svg>
        <span class="text-sm">Profile</span>
      </div>
    </div>
  </div>
</div>
